<!DOCTYPE html>
<html>
<head><title>Make an Offer</title></head>
<body>
<h1>Submit an Offer</h1>
<form action="/offer" method="post">
    <label>Name:</label><br>
    <input type="text" name="name" required><br><br>
    <label>Item ID:</label><br>
    <input type="text" name="itemId" required><br><br>
    <label>Offer Amount (USD):</label><br>
    <input type="number" name="amount" required><br><br>
    <button type="submit">Submit Offer</button>
</form>
</body>
</html>
